.rectangle__mesto-numbersLike{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    min-width: 13px;
    text-align: center;
    line-height: 15.73px;
    color: #000000;
    margin-right: 5px;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}