.popup__label{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 54px;
    margin-bottom: 30px;
}

.popup__label:nth-last-child(2) {
    margin-top: 30px;
    margin-bottom: 48px;
}

@media screen and (max-width: 650px) {
    .popup__label {
        margin-top: 75px;
    }

    .popup__label:nth-last-child(2) {
        margin-bottom: 45px;
    }

}