/*.popup__subtitle {
    min-height: 27px;
    color: #000000;
    margin-top: 0;
    margin-left: 36px;
    margin-right: 36px;
    margin-bottom: 48px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

@media screen and (max-width: 650px) {
    .popup__subtitle {
        margin-left: 22px;
        margin-right: 22px;
        margin-bottom: 45px;
    }
}*/